img {
    width:300px;
    height:auto;
    display:inline-block;
}

.info {
    display: inline-block;
    margin-right: 50px;
    width:35%;
}

.selected {
    font-weight: bold;
}

a {
    color:blue;
    text-decoration: underline;
}

h4 {
    font-weight: normal;
}