<h1>San Jose, CA</h1>

<h4>
    <a [ngClass]="{'selected': units=='celsius'}" (click)="updateUnits('celsius')">Celsius</a> |
    <a [ngClass]="{'selected': units=='fahrenheit'}" (click)="updateUnits('fahrenheit')">Fahrenheit</a>
  </h4>

  <div class="info">
      <h3>Humidty:{{city.humidity}}%</h3>
      <h3>Temperature (Average):{{city.temp | number: '0.0-0'}}
        <span [innerHTML]="unitHtml"></span>
      </h3>
      <h3>Temperature (High):{{city.temp_max | number: '0.0-0'}}
        <span [innerHTML]="unitHtml"></span>
      </h3>
      <h3>Temperature (Low):{{city.temp_min | number: '0.0-0'}}
        <span [innerHTML]="unitHtml"></span>
      </h3>
      <h3>Status:{{city.status}}</h3>
    </div>

    <img src="https://images.pexels.com/photos/6732/city-cars-traffic-lights.jpg?auto=compress&cs=tinysrgb&dpr=2&h=350" alt="San Jose Street">